<h1>GET RI DOF THIS</h1>
<p>Welcome to da hjungla</p>

{{#each post}}
<a href= "/{{id}}">{{title}}</h1></a>
</br>
{{/each}}

<form class="" action="/blogThis" method="post">
  <input type="text" name="title" value="">
  <input type="text" name="content" value="">
  <button type="submit" name="button">Submit Blog</button>
</form>
